*{
    margin: 0px;
    padding: 0px;

}

#img-area{
   
    
    height: 800px;
    width: 100%;
  background-image: url("pic.jpg");
  background-size: cover;
  filter: blur(2px);
    
}
header{
    width: 200px;
  position: absolute;
  left: 0%;
  z-index: 2;
    
}



h1{
    text-align: center;
    text-decoration: underline;
    
    
}
#box{
    
    height: 50%;
    width: 50%;
    text-align: center;
    
    padding: 50px;
    
    
    position: absolute;
    left: 25%;
    top: 10%;
    
    z-index: 2;
    background-color: rgba(121, 114, 114, 0.6);
    color: #fff;
    
    border-radius: 17px;
    border: 10px inset gray;
    
}
#id1{
    margin-right: 20px;
}
button{
    color: black;
    background-color: lightblue;
    text-align: center;
}
